@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body{
    background-color: #e0e0e0;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}

main > * {margin: 25px;}

h1{
    color: rgb(43, 119, 145);
    font-weight: 600;
    text-align: center;
}

.download-btn{
  margin: 0 auto;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: black;
  border: 1px solid rgb(43, 119, 145);
}


p.description{
    padding-left: 0.5em;
    position: relative;
}
p.description:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #0000007a;
}
em{
    background-color: rgba(43, 119, 145,0.5);
}


::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-track-piece  {
    background-color: #9d9d9d;
}
::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    border-radius: 999px;
    background-color: rgb(43, 119, 145);
}


.neumorphism.progress-bar:before{
    animation: progress 5s infinite alternate ease-in-out;
}
@keyframes progress {
    to{width: 100%;}
}